Source: glpong
Section: games
Priority: optional
Maintainer: Erik Greenwald <erik@elfga.com>
Build-Depends: debhelper-compat (= 13),
               pkg-config,
               libsdl2-dev,
               libpng-dev,
               libgl-dev,
               libopenal-dev
Standards-Version: 4.6.2
Homepage: https://github.com/erikg/glpong
Vcs-Git: https://github.com/erikg/glpong.git
Vcs-Browser: https://github.com/erikg/glpong
Rules-Requires-Root: no

Package: glpong
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OpenGL/SDL/OpenAL game of Pong
 A game of pong using the SDL, OpenGL and OpenAL libraries. This is a
 single player game with the keyboard for input and a simple 'bot to play
 against. There is no highscore or end.
