Source: glpong
Section: games
Priority: extra
Maintainer: Erik Greenwald <erik@brlcad.org>
Build-Depends: debhelper (>= 5), autotools-dev, libsdl1.2-dev
Standards-Version: 3.9.3

Package: glpong
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OpenGL/SDL/OpenAL game of Pong
 A game of pong using the SDL, OpenGL and OpenAL libraries. This is a
 single player game with the keyboard for input and a simple 'bot to play
 against. There is no highscore or end.
